body {
    background-color: rgb(190, 215, 236);
}

main {
    background-color: white;
    text-align: center;
    border-radius: 18px;
    width: 450px;
}

#primer-img {
    width: 100%;
    height: 300px;    
}

h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#primer-p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 60px;
}

.primer-div{
    padding: 20px;
    margin: 15px 35px;
    display: flex;
    border-radius: 18px;
    background-color: rgb(224, 224, 224);
}

.primer-div>h2{
    font-size: 20px;
}

.primer-div>p{
    font-size: 20px;
}

.primer-div>img {
    width: 40px;
    margin: 15px;
}


.segundo-div {
    padding: 10px 50px;
}

.segundo-div>button{
    width: 100%;
    margin-bottom: 15px;
    border: none;
    height: 35px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

#primer-button{
    background-color: rgb(39, 36, 223);
    color: white;
}

#segundo-button{
    background-color: white;
    color: rgb(48, 48, 48);
}

